[submodule "elm-architecture-tutorial"]
	path = elm-architecture-tutorial
	url = git@github.com:evancz/elm-architecture-tutorial.git
[submodule "elmsteroids"]
	path = elmsteroids
	url = git@github.com:yupferris/elmsteroids
